
# Editable install of hackaton
-e .
click~=8.1.8
ipympl
ipython~=8.18.1
jupyterlab
matplotlib
nbdime
nbstripout
numpy
pandas
pre-commit
pytest~=8.3.5
pytest-cov
recommonmark
scipy
seaborn
sphinx~=7.4.7
tox
tqdm

# Uncomment if needed
# statsmodels
# scikit-learn
# sktime
# tslearn
# xgboost
# catboost
# lightgbm
# pytorch
# tensorflow
# keras
# spacy
# optuna
# dask
# snakeviz
# icecream
# jax
# numpyro
# funsor
# neptune-client
# neptune-contrib

importlib-metadata~=8.6.1
streamlit~=1.44.0
setuptools~=68.2.0