# Ignore everything in this directory
*
# Except this file and .gitignore in sub directories
!.gitignore
!raw
!external
!processed
!interim
!ai
!real
!compensation_table.csv
!create_table_compensation.py
!descriptions.csv
!descriptions.json
!download_dataset.py
!urls_img.txt